* {
    box-sizing: border-box;
}

.container2 {
    margin: 0 auto;
    width: 1024px;
    text-align: center;
}

.serv-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
    /* border: 1px solid blue; */
}

.serv-head nav {
    display: flex;
    /*border: 1px solid red;*/
    justify-content: space-between;
    width: 60%;
}

.service-header-img {
    display: inline-block;
    margin: 50px;
    text-align: center;
    width: 30%;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 50px;
    padding: 40px 10px;
    border-bottom: 1px solid black;
}

.about h1 {
    display: block;
    font-size: 30px;
}

.about p {
    display: block;
    text-align: left;
}

.middle-content {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}

.design {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 400px;
    margin: 40px 20px 20px 50px;
    padding: 30px;
    border: 1px solid black;
    background: lightgray;
    text-align: left;
}

.design button {
    width: 150px;
    height: 40px;
    margin: 20px 20px 0 0;
    border-radius: 10px;
}

.ux {
display: flex;
flex-flow: column wrap;
align-content: flex-start;
width: 400px;
margin: 40px 50px 20px 20px;
padding: 30px;
border: 1px solid black;
background: lightgray;
text-align: left;
}

.marketing {
display: flex;
flex-flow: column wrap;
align-items: flex-start;
width: 400px;
margin: 40px 20px 20px 50px;
padding: 30px;
border: 1px solid black;
background: lightgray;
text-align: left;
}

.webdev {
display: flex;
flex-flow: column wrap;
align-items: flex-start;
width: 400px;
margin: 40px 50px 20px 20px;
padding: 30px;
border: 1px solid black;
background: lightgray;
text-align: left;
}

.ios {
display: flex;
flex-flow: column wrap;
justify-content: flex-start;
width: 400px;
margin: 40px 20px 20px 50px;
padding: 30px;
border: 1px solid black;
background: lightgray;
text-align: left;
}

.android {
display: flex;
flex-flow: column wrap;
align-items: flex-start;
width: 400px;
margin: 40px 50px 20px 20px;
padding: 30px;
border: 1px solid black;
background: lightgray;
text-align: left;
}

.facts {
display: flex;
align-items: flex-end;
border-top: 1px soild black;
}